---
import LayoutStacked from '../app/LayoutStacked.astro';
---

<LayoutStacked>
<section class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
  <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Team</h2>
    <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Meet the amazing people behind SAPians.</p>
  </div>
  <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700 p-6">

      <div class="sm:ml-4">
        <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">Ankita</h3>
        <span class="text-gray-500 dark:text-gray-400">Team Lead</span>
        <p class="mt-2 text-gray-500 dark:text-gray-400">Visionary leader and product architect.</p>
      </div>
    </div>
    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700 p-6">
      
      <div class="sm:ml-4">
        <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">Shivam Tripathi</h3>
        <span class="text-gray-500 dark:text-gray-400">Lead Developer</span>
        <p class="mt-2 text-gray-500 dark:text-gray-400">Full-stack developer and open-source enthusiast.</p>
      </div>
      
    </div>
     <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700 p-6">
      
      <div class="sm:ml-4">
        <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">Niranjan</h3>
        <span class="text-gray-500 dark:text-gray-400">FrontEnd Developer</span>
        <p class="mt-2 text-gray-500 dark:text-gray-400">Creative designer with a passion for building user-friendly interfaces.</p>
      </div>
      
    </div>
  </div>
</section>
</LayoutStacked>
